# Visual Studio
.vs/
**/.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/
Debug/
Release/

# Rider / VS Code
.idea/
.vscode/

# Logs
*.log

# Test results
TestResults/

# OS
Thumbs.db
.DS_Store