USE [ClientesDb]
GO
/****** Object:  Table [dbo].[Clientes]    Script Date: 30/03/2026 12:48:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clientes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[CorreoElectronico] [nvarchar](150) NOT NULL,
	[Telefono] [nvarchar](20) NOT NULL,
	[Estatus] [bit] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 30/03/2026 12:48:10 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [nvarchar](100) NOT NULL,
	[Contrasena] [nvarchar](255) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[FechaActualizacion] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clientes] ON 

INSERT [dbo].[Clientes] ([Id], [Nombre], [CorreoElectronico], [Telefono], [Estatus], [FechaCreacion], [FechaActualizacion]) VALUES (2, N'María Lópe', N'maria.lopez@correo.com', N'4772223344', 1, CAST(N'2026-03-30T00:18:19.6566667' AS DateTime2), CAST(N'2026-03-30T00:18:19.6633333' AS DateTime2))
INSERT [dbo].[Clientes] ([Id], [Nombre], [CorreoElectronico], [Telefono], [Estatus], [FechaCreacion], [FechaActualizacion]) VALUES (3, N'Carlos Ramírez', N'carlos.ramirez@correo.com', N'4773334455', 1, CAST(N'2026-03-30T00:18:19.6566667' AS DateTime2), CAST(N'2026-03-30T00:18:19.6633333' AS DateTime2))
INSERT [dbo].[Clientes] ([Id], [Nombre], [CorreoElectronico], [Telefono], [Estatus], [FechaCreacion], [FechaActualizacion]) VALUES (7, N'Leonardo Escobar', N'leo@hotmail.com', N'4777777777', 1, CAST(N'2026-03-30T00:18:19.6566667' AS DateTime2), CAST(N'2026-03-30T00:18:19.6633333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Clientes] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [NombreUsuario], [Contrasena], [FechaCreacion], [FechaActualizacion]) VALUES (1, N'admin', N'$2a$10$YRf3o9CF.FpjoECqGI/dDeSuUZLIbQKs.FB30NLLhECLor0OtLzOu', CAST(N'2026-03-30T00:18:41.4166667' AS DateTime2), CAST(N'2026-03-30T00:18:41.4266667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Clientes_CorreoElectronico]    Script Date: 30/03/2026 12:48:11 a. m. ******/
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [UQ_Clientes_CorreoElectronico] UNIQUE NONCLUSTERED 
(
	[CorreoElectronico] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuarios_NombreUsuario]    Script Date: 30/03/2026 12:48:11 a. m. ******/
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [UQ_Usuarios_NombreUsuario] UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Clientes_Estatus]  DEFAULT ((1)) FOR [Estatus]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Clientes_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Clientes] ADD  CONSTRAINT [DF_Clientes_FechaActualizacion]  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_FechaCreacion]  DEFAULT (getdate()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Usuarios] ADD  CONSTRAINT [DF_Usuarios_FechaActualizacion]  DEFAULT (getdate()) FOR [FechaActualizacion]
GO
/****** Object:  StoredProcedure [dbo].[usp_Auth_Login]    Script Date: 30/03/2026 12:48:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Auth_Login]
    @NombreUsuario NVARCHAR(100)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        NombreUsuario,
        Contrasena
    FROM dbo.Usuarios
    WHERE NombreUsuario = @NombreUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Clientes_Actualizar]    Script Date: 30/03/2026 12:48:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[usp_Clientes_Actualizar]
    @Id INT,
    @Nombre NVARCHAR(150),
    @CorreoElectronico NVARCHAR(150),
    @Telefono NVARCHAR(20),
    @Estatus BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE dbo.Clientes
    SET
        Nombre = @Nombre,
        CorreoElectronico = @CorreoElectronico,
        Telefono = @Telefono,
        Estatus = @Estatus,
        FechaActualizacion = GETDATE()
    WHERE Id = @Id;

    SELECT @@ROWCOUNT AS FilasAfectadas;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Clientes_Eliminar]    Script Date: 30/03/2026 12:48:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Clientes_Eliminar]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    DELETE FROM dbo.Clientes
    WHERE Id = @Id;

    SELECT @@ROWCOUNT AS FilasAfectadas;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Clientes_Insertar]    Script Date: 30/03/2026 12:48:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Clientes_Insertar]
    @Nombre NVARCHAR(150),
    @CorreoElectronico NVARCHAR(150),
    @Telefono NVARCHAR(20),
    @Estatus BIT
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Clientes
    (
        Nombre,
        CorreoElectronico,
        Telefono,
        Estatus
    )
    VALUES
    (
        @Nombre,
        @CorreoElectronico,
        @Telefono,
        @Estatus
    );

    SELECT SCOPE_IDENTITY() AS Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Clientes_ObtenerPorId]    Script Date: 30/03/2026 12:48:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Clientes_ObtenerPorId]
    @Id INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        Nombre,
        CorreoElectronico,
        Telefono,
        Estatus
    FROM dbo.Clientes
    WHERE Id = @Id;
END;
GO
/****** Object:  StoredProcedure [dbo].[usp_Clientes_ObtenerTodos]    Script Date: 30/03/2026 12:48:11 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[usp_Clientes_ObtenerTodos]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        Id,
        Nombre,
        CorreoElectronico,
        Telefono,
        Estatus
    FROM dbo.Clientes
    ORDER BY Id ASC;
END;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Valida el acceso de usuarios.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'usp_Auth_Login'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Actualiza un cliente existente.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'usp_Clientes_Actualizar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Elimina un cliente por Id.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'usp_Clientes_Eliminar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Registra un nuevo cliente.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'usp_Clientes_Insertar'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Obtiene un cliente por Id.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'usp_Clientes_ObtenerPorId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Obtiene todos los clientes.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'PROCEDURE',@level1name=N'usp_Clientes_ObtenerTodos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Identificador único del cliente.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre completo del cliente.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes', @level2type=N'COLUMN',@level2name=N'Nombre'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Correo electrónico del cliente.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes', @level2type=N'COLUMN',@level2name=N'CorreoElectronico'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Teléfono de contacto del cliente.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes', @level2type=N'COLUMN',@level2name=N'Telefono'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Indica si el cliente está activo o inactivo.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes', @level2type=N'COLUMN',@level2name=N'Estatus'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de creación.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes', @level2type=N'COLUMN',@level2name=N'FechaCreacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de actualización.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes', @level2type=N'COLUMN',@level2name=N'FechaActualizacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Tabla que almacena la información de los clientes.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Clientes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Id del usuario.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Usuarios', @level2type=N'COLUMN',@level2name=N'Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Nombre de usuario.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Usuarios', @level2type=N'COLUMN',@level2name=N'NombreUsuario'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Contraseña del usuario.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Usuarios', @level2type=N'COLUMN',@level2name=N'Contrasena'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de creación.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Usuarios', @level2type=N'COLUMN',@level2name=N'FechaCreacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Fecha de actualización.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Usuarios', @level2type=N'COLUMN',@level2name=N'FechaActualizacion'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Usuarios del sistema.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Usuarios'
GO
